df-messenger {
--df-messenger-bot-message: #D53F8C;
--df-messenger-button-titlebar-color: #D53F8C;
--df-messenger-chat-background-color: #fafafa;
--df-messenger-font-color: white;
--df-messenger-send-icon: #D53F8C;
--df-messenger-user-message: #1F2029;
}