.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
  margin: 0 0.5rem;
  cursor: pointer;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}